.containerAge{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    padding-left: 86px;
}

h3{
    color: #864cff;
    font-size: 80px;
    margin: unset;
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

span{
    color: black;
}


@media (max-width: 610px){
    .containerAge{
        width: 90vw;
        padding-left: 25px;
        padding-top: 20px;
    }
    h3{
        font-size: 50px;
    }
}